@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on ElectroRental</h1>
    <p>On this site you can Rent our Electro Devices. If you want to see and rent one of these please Register or Login.</a>.</p>
</div>
